In [19]:
import pandas as pd

#### Pandas Series and their basic attributes

In [20]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

In [21]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [22]:
type(data.index)

pandas.core.indexes.base.Index

In [23]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [24]:
type(data.values)

numpy.ndarray

#### Indexing and slicing

In [25]:
print(data['b'])
print('\n')
print(data['a':'c'])
print('\n')
print(data.values[2])

0.5


a    0.25
b    0.50
c    0.75
dtype: float64


0.75

#### We can create a Pandas Series starting froma an ordinary dictionary

In [26]:
grads_dict = {'A': 4, 'B': 3.5, 'C': 3, 'D': 2.5}
grads = pd.Series(grads_dict)

In [27]:
grads.values

array([4. , 3.5, 3. , 2.5])

In [28]:
grads.index

Index(['A', 'B', 'C', 'D'], dtype='object')

Pay attention on different handling of slicing

In [29]:
grads[0:2] #implicit indices

A    4.0
B    3.5
dtype: float64

In [30]:
grads['A':'C'] #explicit indices

A    4.0
B    3.5
C    3.0
dtype: float64

In [31]:
2 * grads[0:2]

A    8.0
B    7.0
dtype: float64

#### Pandas DataFrame

In [80]:
brands_dict = {'Car1': 'Volkswagen', 'Car2': 'Nissan'}
brands = pd.Series(brands_dict)
models_dict = {'Car1': 'Tiguan', 'Car2': 'Quasquai'}
models = pd.Series(models_dict)
years_dict = {'Car1': 2008, 'Car2': 2011}
years = pd.Series(years_dict)
kilometers_dict = {'Car1': 101000,'Car2': 120000}
kilometers = pd.Series(kilometers_dict)

In [81]:
cars = pd.DataFrame({'Brand': brands, 'Model': models, 'Year': years, 'Kilometers': kilometers})

In [82]:
cars

           Brand     Model  Year  Kilometers
Car1  Volkswagen    Tiguan  2008      101000
Car2      Nissan  Quasquai  2011      120000

In [83]:
cars.T

                  Car1      Car2
Brand       Volkswagen    Nissan
Model           Tiguan  Quasquai
Year              2008      2011
Kilometers      101000    120000

In [84]:
cars.values

array([['Volkswagen', 'Tiguan', 2008, 101000],
       ['Nissan', 'Quasquai', 2011, 120000]], dtype=object)

In [85]:
type(cars.values)

numpy.ndarray

In [86]:
cars.values.shape

(2, 4)

In [87]:
cars.values[0,1]

'Tiguan'

In [88]:
cars.columns

Index(['Brand', 'Model', 'Year', 'Kilometers'], dtype='object')

In [89]:
type(cars.columns)

pandas.core.indexes.base.Index

In [90]:
cars.columns[2]

'Year'

In [93]:
cars['Km/yr'] = cars['Kilometers'] / (2022 - cars['Year'])

In [94]:
cars

           Brand     Model  Year  Kilometers         Km/yr
Car1  Volkswagen    Tiguan  2008      101000   7214.285714
Car2      Nissan  Quasquai  2011      120000  10909.090909

In [95]:
recent_cars = cars[cars['Year'] > 2009]

In [96]:
recent_cars

       Brand     Model  Year  Kilometers         Km/yr
Car2  Nissan  Quasquai  2011      120000  10909.090909